.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
coverage/**
.nyc_output/**
out-instrumented/**
out/test/**
out/main.js
docu/**
scripts/**
.github/**
eslint.config.js
*.vsix
images/demo.gif
